{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <h3>Posts</h3>
    {% for post in posts %}
        <div class="block">
            <a href="{% url 'profile' post.user %}"><h3>{{ post.user }}</h3></a>
            <br>
            <h5 id="content">{{ post.content }}</h5>
            <h6 style="color: grey;">{{ post.timestamp }}</h6>
            <h6 id="count">Likes: {{ post.likedPost.count }}</h6>
            {% if user == post.user %}
                <button id="edit" class="btn btn-primary"  data-identity="{{post.id}}">Edit</button>
            {% else %}
                {% if post in liked_post %}
                    <button id="like" class="btn btn-primary" data-id="{{ post.id }}" data-post="unlike"><i class="bi bi-hand-thumbs-down-fill"></i>UnLike</button>
                {% else %}
                    <button id="like" class="btn btn-primary" data-id="{{ post.id }}" data-post="like"><i class="bi bi-hand-thumbs-up-fill"></i>Like</button>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}